<!-- ###TEMPLATE### begin -->
<div class="sru-searchfield">
	<form id="tx_ddbfrontendviewer-sru-form" action="###ACTION_URL###" method="post">
		<label for="tx_ddbfrontendviewer-sru-query">###LABEL_QUERY###</label>
		<input type="text" id="tx_ddbfrontendviewer-sru-query" name="###FIELD_QUERY###" value="###QUERY###" />
		<input type="submit" value="###LABEL_SUBMIT###" />
		<input type="hidden" name="tx_ddbfrontendviewer[L]" value="###LANG_ID###" />
		<input type="hidden" name="tx_ddbfrontendviewer[sru]" value="###SRU_URL###" />
		<input type="hidden" name="tx_ddbfrontendviewer[id]" value="###CURRENT_DOCUMENT###" />
		<input type="hidden" name="tx_ddbfrontendviewer[action]" value="###ACTION_URL###" />
	</form>
	<!-- The following element is needed for the result list -->
	<div id="tx_ddbfrontendviewer-sru-results-loading" style="display: none;">###LABEL_LOADING###...</div>
	<div id="tx_ddbfrontendviewer-sru-results-clearing">###LABEL_DELETE_SEARCH###...</div>
	<div id="tx_ddbfrontendviewer-sru-results"></div>
</div>
<!-- ###TEMPLATE### end -->
