<!-- ###TEMPLATE### -->
<div class="zoom">
	<button class="in" title="###ZOOM_IN###" onclick="tx_dlf_viewer.map.zoomIn();">###ZOOM_IN###</button>
	<button class="out" title="###ZOOM_OUT###" onclick="tx_dlf_viewer.map.zoomOut();">###ZOOM_OUT###</button>
	<button class="fullscreen" title="Vollansicht">###ZOOM_FULLSCREEN###</button>
</div>
<div class="rotate">
		<button class="rotate-left" title="Ansicht nach links drehen" onclick="tx_dlf_viewer.map.rotate(-90)">Ansicht nach links drehen</button>
		<button class="rotate-right" title="Ansicht nach rechts drehen" onclick="tx_dlf_viewer.map.rotate(90)">Ansicht nach rechts drehen</button>
		<button class="upend" title="Ansicht nach oben ausrichten" onclick="tx_dlf_viewer.map.resetRotation()">Ansicht nach oben ausrichten</button>
</div>
<!-- ###TEMPLATE### -->
