<!-- ###TEMPLATE### -->
<div class="zoom">
	<a class="in" title="###ZOOM_IN###" onclick="tx_dlf_viewer.map.zoomIn();">###ZOOM_IN###</a>
	<a class="out" title="###ZOOM_OUT###" onclick="tx_dlf_viewer.map.zoomOut();">###ZOOM_OUT###</a>
	<a class="fullscreen" title="Vollansicht">###ZOOM_FULLSCREEN###</a>
</div>
<div class="rotate">
		<a class="rotate-left" title="Ansicht nach links drehen" onclick="tx_dlf_viewer.map.rotate(-90)">Ansicht nach links drehen</a>
		<a class="rotate-right" title="Ansicht nach rechts drehen" onclick="tx_dlf_viewer.map.rotate(90)">Ansicht nach rechts drehen</a>
		<a class="upend" title="Ansicht nach oben ausrichten" onclick="tx_dlf_viewer.map.resetRotation()">Ansicht nach oben ausrichten</a>
</div>
<!-- ###TEMPLATE### -->
