<!-- ###TEMPLATE### -->
<div class="zoom">
	<button class="in" title="###ZOOM_IN###" onclick="tx_dlf_viewer.map.zoomIn();">###ZOOM_IN###</button>
	<button class="out" title="###ZOOM_OUT###" onclick="tx_dlf_viewer.map.zoomOut();">###ZOOM_OUT###</button>
	<button class="fullscreen" title="###ZOOM_FULLSCREEN###">###ZOOM_FULLSCREEN###</button>
</div>
<div class="rotate">
	<button class="rotate-left" title="###ROTATE_LEFT###" onclick="tx_dlf_viewer.map.rotate(-90)">###ROTATE_LEFT###</button>
	<button class="rotate-right" title="###ROTATE_RIGHT###" onclick="tx_dlf_viewer.map.rotate(90)">###ROTATE_RIGHT###</button>
	<button class="upend" title="###ROTATE_RESET###" onclick="tx_dlf_viewer.map.resetRotation()">###ROTATE_RESET###</button>
</div>
<!-- ###TEMPLATE### -->
