{namespace ddb=Slub\DdbFrontendViewer\ViewHelpers}
<f:section name="DocumentView">
<div class="document-view">
  <div class="tx-dlf-pageview">
    <f:cObject typoscriptObjectPath="plugin.tx_dlf_pageview" />
    <div id="tx-dlf-map">
        <div class="loading"><div class="loading-wrapper"><img src="../Resources/Public/Images/loadingAnimation.svg" alt="Anzeige zum Ladestatus"><span class="loading-label">Lade Daten...</span></div></div>
    </div>
  </div>
  <div class="tx-dlf-pagegrid">
    <f:cObject typoscriptObjectPath="plugin.tx_dlf_pagegrid" />
  </div>
</div>
</f:section>
