{namespace ddb=Slub\DdbFrontendViewer\ViewHelpers}
<f:section name="DocumentView">
<div class="document-view">
  <div class="tx-dlf-pageview">
    <f:cObject typoscriptObjectPath="plugin.tx_dlf_pageview" />
    <div id="tx-dlf-map">
      <div class="loading">
        <div class="loading-wrapper">
          <img src="{f:uri.image(src: 'EXT:ddb_frontend_viewer/Resources/Public/Images/loadingAnimation.svg', absolute:'true')}" alt="Anzeige zum Ladestatus">
            <span class="loading-label"><f:translate key='document.loading_data' extensionName='ddb_frontend_viewer' /></span>
        </div>
      </div>
    </div>
  </div>
  <div class="tx-dlf-pagegrid">
    <f:cObject typoscriptObjectPath="plugin.tx_dlf_pagegrid" />
  </div>
</div>

<f:if condition="<ddb:xpath xpath='//mets:amdSec/mets:digiprovMD/mets:mdWrap[@OTHERMDTYPE=\"DVLINKS\"]/mets:xmlData/dv:links/dv:sru' />">
<div style="display:none">
<f:for each="<ddb:physicalPages />" as="value" key="page">
  <ul class="sru-helper" id="sru-{value.physicalPage}">
    <f:if condition="{value.physicalPage} == {gp-page}">
      <li class="current">{page}</li>
    </f:if>
    <f:if condition="{page} == {gp-page}">
        <li class="current">{page}</li>
    </f:if>
    <li class="page">{page}</li>
    <li class="label">{value.label}</li>
  </ul>
</f:for>
</div>
</f:if>

<div style="display:none">
  <ul id="lang-helper">
    <li id="tab-thumbnails-hide"><f:translate key='tab.thumbnails.hide' extensionName='ddb_frontend_viewer' /></li>
    <li id="tab-thumbnails-show"><f:translate key='tab.thumbnails.show' extensionName='ddb_frontend_viewer' /></li>
    <li id="tab-fulltext-disabled"><f:translate key='tab.fulltext.disabled' extensionName='ddb_frontend_viewer' /></li>
    <li id="tab-downloads-disabled"><f:translate key='tab.downloads.disabled' extensionName='ddb_frontend_viewer' /></li>
  </ul>
</div>

</f:section>
