{namespace ddb=Slub\DdbFrontendViewer\ViewHelpers}
<f:section name="DocumentView">
<div class="document-view">
  <div class="tx-dlf-pageview">
    <f:cObject typoscriptObjectPath="plugin.tx_dlf_pageview" />
    <div id="tx-dlf-map">
        <div class="loading"><div class="loading-wrapper"><img src="{f:uri.image(src: 'EXT:ddb_frontend_viewer/Resources/Public/Images/loadingAnimation.svg', absolute:'true')}" alt="Anzeige zum Ladestatus"><span class="loading-label">Lade Daten...</span></div></div>
    </div>
  </div>
  <div class="tx-dlf-pagegrid">
    <f:cObject typoscriptObjectPath="plugin.tx_dlf_pagegrid" />
  </div>
</div>
<f:if condition="<ddb:xpath xpath='//mets:amdSec/mets:digiprovMD/mets:mdWrap[@OTHERMDTYPE=\"DVLINKS\"]/mets:xmlData/dv:links/dv:sru' />">
<div style="display:none">
<f:for each="<ddb:physicalPages />" as="value" key="page">
  <ul class="sru-helper" id="sru-{value.physicalPage}">
    <f:if condition="{value.physicalPage} == {gp-page}">
      <li class="current">{value.physicalPage}</li>
    </f:if>
    <f:if condition="{page} == {gp-page}">
        <li class="current">{page}</li>
    </f:if>
    <li class="page">{page}</li>
    <li class="label">{value.label}</li>
  </ul>
</f:for>
</div>
</f:if>
</f:section>
