{namespace ddb=Slub\DdbFrontendViewer\ViewHelpers}
<f:section name="Header">
  <div class="header">
    <div class="provider">
      <f:if condition="<ddb:xpath xpath='(//mets:amdSec/mets:rightsMD/mets:mdWrap[@OTHERMDTYPE=\'DVRIGHTS\']/mets:xmlData/dv:rights/dv:ownerLogo)[1]' />">
        <f:link.external uri="<ddb:xpath xpath='(//mets:amdSec/mets:rightsMD/mets:mdWrap[@OTHERMDTYPE=\"DVRIGHTS\"]/mets:xmlData/dv:rights/dv:ownerSiteURL)[1]' />" title="<ddb:xpath xpath='//mets:amdSec/mets:rightsMD/mets:mdWrap[@OTHERMDTYPE=\"DVRIGHTS\"]/mets:xmlData/dv:rights/dv:owner' />" target="_blank">
        <img src="<ddb:xpath xpath='(//mets:amdSec/mets:rightsMD/mets:mdWrap[@OTHERMDTYPE=\'DVRIGHTS\']/mets:xmlData/dv:rights/dv:ownerLogo)[1]' />"
          title="<ddb:xpath xpath='(//mets:amdSec/mets:rightsMD/mets:mdWrap[@OTHERMDTYPE=\'DVRIGHTS\']/mets:xmlData/dv:rights/dv:owner)[1]' />"
          alt="Abbildung eines Logo"
          />
        </f:link.external>
      </f:if>
    </div>

    <div class="metadata">
        <f:if condition="<ddb:xpath xpath='(//mets:mets/mets:structMap/mets:div/@LABEL)[1]' />">
          <f:then>
            <h1 title="<ddb:xpath xpath='(//mets:mets/mets:structMap/mets:div/@LABEL)[1]' />">
              <ddb:xpath xpath='(//mets:mets/mets:structMap/mets:div/@LABEL)[1]' />
            </h1>
          </f:then>
          <f:else>
            <h1 title="<ddb:xpath xpath='(//mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:nonSort | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:title | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:partNumber | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:partName)[1]' />">
              <ddb:xpath xpath='(//mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type="alternative")]/mods:nonSort | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type="alternative")]/mods:title | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type="alternative")]/mods:partNumber | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type="alternative")]/mods:partName)[1]' />
            </h1>
          </f:else>
        </f:if>
        <div class="provider-link">
          <span class="label"><f:translate key='metadata.provider' extensionName='ddb_frontend_viewer' />:</span>
          <f:link.external uri="<ddb:xpath xpath='(//mets:amdSec/mets:rightsMD/mets:mdWrap[@OTHERMDTYPE=\"DVRIGHTS\"]/mets:xmlData/dv:rights/dv:ownerSiteURL)[1]' />" title="<f:translate key='metadata.link_provider' extensionName='ddb_frontend_viewer' />" target="_blank">
            <ddb:xpath xpath='(//mets:amdSec/mets:rightsMD/mets:mdWrap[@OTHERMDTYPE=\'DVRIGHTS\']/mets:xmlData/dv:rights/dv:owner)[1]' />
          </f:link.external>
        </div>
    </div>

    <div class="controls">
      <div class="doublepage">
          <span class="double">
            <f:if condition="{gp-double} == 1">
              <f:then>
                <f:link.page pageUid="{kitodoPageView}" additionalParams="{0: {tx_dlf:{page:'{gp-page}', double:'0', id:'{gp-id}', pagegrid:'0'}}}" class="tx-dlf-navigation-doubleOff" title="<f:translate key='double.singlePageView'  extensionName='ddb_frontend_viewer' />"><f:translate key="double.singlePageView"  extensionName="ddb_frontend_viewer" /></f:link.page>
              </f:then>
              <f:else>
                <f:link.page pageUid="{kitodoPageView}" additionalParams="{0: {tx_dlf:{page:'{gp-page}', double:'1', id:'{gp-id}', pagegrid:'0'}}}" class="tx-dlf-navigation-doubleOn" title="<f:translate key='double.doublePageView'  extensionName='ddb_frontend_viewer' />"><f:translate key="double.doublePageView"  extensionName="ddb_frontend_viewer" /></f:link.page>
              </f:else>
            </f:if>
          </span>
          <f:if condition="{gp-double} == 1">
            <span class="switch"><span><f:link.page pageUid="{kitodoPageView}" additionalParams="{0: {tx_dlf:{page:'{ddb:calc(val1:\'{gp-page}\', val2:\'1\', operator:\'+\')}', double:'1', id:'{gp-id}', pagegrid:'0'}}}" class="tx-dlf-navigation-doubleOff" title="<f:translate key='double.RectoVerso' extensionName='ddb_frontend_viewer' />"><f:translate key="double.RectoVerso"  extensionName="ddb_frontend_viewer" /></f:link.page></span></span>
          </f:if>
      </div>

      <f:cObject typoscriptObjectPath="lib.navigation_viewfunction" />

      <div class="page-control">
        <f:cObject typoscriptObjectPath="lib.navigation_pagecontrol" />
      </div>
    </div>
    <div class="sidebar-toggle"></div>
  </div>
</f:section>
