{namespace ddb=Slub\DdbFrontendViewer\ViewHelpers}
<f:section name="Sidebar">
  <div class="sidebar">
    <div class="tab-nav">
        <ul>
            <li><a href="#tab-toc" class="tab-toc">Inhaltsverzeichnis</a></li>
            <li><a href="#tab-meta" class="tab-meta">Metadaten</a></li>
            <li><a href="#tab-fulltext" class="tab-fulltext">Volltext</a></li>
            <li><a href="#tab-search" class="tab-search">Suche</a></li>
            <li><a href="#tab-donwloads" class="tab-downloads">Downloads</a></li>
            <li><a href="#tab-imageadjust" class="tab-imageadjust">Bildbearbeitung</a></li>
        </ul>
    </div>

    <div class="tab-content">
      <div id="tab-toc" class="toc-wrapper tab-content-pane">
        <f:cObject typoscriptObjectPath="plugin.tx_dlf_toc" />
      </div>
    </div>

    <div class="metadata-wrapper tab-content-pane">
      <f:cObject typoscriptObjectPath="plugin.tx_dlf_metadata" />
    </div>

    <div class="fulltext-wrapper tab-content-pane">
      <f:cObject typoscriptObjectPath="lib.tools.toolsFulltext" />
    </div>
</div>
</f:section>
