{namespace ddb=Slub\DdbFrontendViewer\ViewHelpers}
<f:section name="Sidebar">
  <div class="sidebar">
    <div class="tab-nav">
        <ul>
            <li><button data-target="#tab-toc" class="tab-toc active" title="<f:translate key='tab.toc' extensionName='ddb_frontend_viewer' />"><f:translate key='tab.toc' extensionName='ddb_frontend_viewer' /></button></li>
            <li><button data-target="#tab-meta" class="tab-meta" title="<f:translate key='tab.meta' extensionName='ddb_frontend_viewer' />"><f:translate key='tab.meta' extensionName='ddb_frontend_viewer' /></button></li>
            <li><button data-target="#tab-fulltext" class="tab-fulltext" title="<f:translate key='tab.fulltext' extensionName='ddb_frontend_viewer' />"><f:translate key='tab.fulltext' extensionName='ddb_frontend_viewer' /></button></li>
            <f:if condition="<ddb:xpath xpath='//mets:amdSec/mets:digiprovMD/mets:mdWrap[@OTHERMDTYPE=\"DVLINKS\"]/mets:xmlData/dv:links/dv:sru' />">
              <f:then>
                <li><button data-target="#tab-search" class="tab-search" title="<f:translate key='tab.search' extensionName='ddb_frontend_viewer' />"><f:translate key='tab.search' extensionName='ddb_frontend_viewer' /></button></li>
              </f:then>
              <f:else>
                <li><button data-target="#tab-search" class="tab-search disabled" title="<f:translate key='tab.search' extensionName='ddb_frontend_viewer' />"><f:translate key='tab.search' extensionName='ddb_frontend_viewer' /></button></li>
              </f:else>
            </f:if>
            <li><button data-target="#tab-downloads" class="tab-downloads" title="<f:translate key='tab.downloads' extensionName='ddb_frontend_viewer' />"><f:translate key='tab.downloads' extensionName='ddb_frontend_viewer' /></button></li>
            <li><button data-target="#tab-imageadjust" class="tab-imageadjust" title="<f:translate key='tab.imageadjust' extensionName='ddb_frontend_viewer' />"><f:translate key='tab.imageadjust' extensionName='ddb_frontend_viewer' /></button></li>
        </ul>
    </div>

    <div class="tab-content">
      <div id="tab-toc" class="toc-wrapper tab-content-pane active">
        <h3><f:translate key='tab.toc' extensionName='ddb_frontend_viewer' /></h3>
        <f:cObject typoscriptObjectPath="plugin.tx_dlf_toc" />
      </div>

      <div id="tab-meta" class="metadata-wrapper tab-content-pane">
        <h3><f:translate key='tab.meta' extensionName='ddb_frontend_viewer' /></h3>
        <f:cObject typoscriptObjectPath="plugin.tx_dlf_metadata" />
      </div>

      <div id="tab-fulltext" class="fulltext-wrapper tab-content-pane">
        <h3><f:translate key='tab.fulltext' extensionName='ddb_frontend_viewer' /></h3>
        <f:cObject typoscriptObjectPath="lib.tools.toolsFulltext" />
        <div id="tx-dlf-fulltextselection"></div>
      </div>

      <div id="tab-search" class="search-wrapper tab-content-pane">
        <h3><f:translate key='tab.search' extensionName='ddb_frontend_viewer' /></h3>
        <f:cObject typoscriptObjectPath="plugin.tx_ddbfrontendviewer_sru" />
      </div>

      <div id="tab-downloads" class="download-wrapper tab-content-pane">
        <h3><f:translate key='tab.downloads' extensionName='ddb_frontend_viewer' /></h3>
        <ul>
          <f:if condition="<ddb:downloadLinks type='work' /> !=''">
            <f:then>
              <li>
                <f:link.external
                uri="<ddb:downloadLinks type='work' />"
                class="download-document"
                title="<f:translate key='download.work' extensionName='ddb_frontend_viewer' />"><f:translate key="download.work"  extensionName="ddb_frontend_viewer" /></f:link.external>
              </li>
            </f:then>
            <f:else>
              <f:if condition="<ddb:xpath xpath='/mets:mets/mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:extension/slub:slub/slub:id[@type=\'digital\']' />">
                <li>
                  <f:link.external
                    uri="http://digital.slub-dresden.de/fileadmin/data/<ddb:xpath xpath='/mets:mets/mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:extension/slub:slub/slub:id[@type=\'digital\']' />/<ddb:xpath xpath='/mets:mets/mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:extension/slub:slub/slub:id[@type=\'digital\']' />_tif/jpegs/<ddb:xpath xpath='/mets:mets/mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:extension/slub:slub/slub:id[@type=\'digital\']' />.pdf"
                    class="download-document"
                    title="<f:translate key='download.work' extensionName='ddb_frontend_viewer' />"><f:translate key="download.work"  extensionName="ddb_frontend_viewer" />
                  </f:link.external>
                </f:if>
              </li>
            </f:else>
          </f:if>
          <f:if condition="{gp-double} == 1">
            <f:then>
              <f:if condition="<ddb:downloadLinks type='page-left' pagenumber='{gp-page}' /> !=''">
                <li>
                  <f:link.external uri="<ddb:downloadLinks type='page-left' pagenumber='{gp-page}' />" class="download-page" title="<f:translate key='download.leftPage' extensionName='ddb_frontend_viewer' />"><f:translate key="download.leftPage"  extensionName="ddb_frontend_viewer" /></f:link.external>
                </li>
              </f:if>
              <f:if condition="<ddb:downloadLinks type='page-right' pagenumber='{gp-page}' /> !=''">
                <li>
                  <f:link.external uri="<ddb:downloadLinks type='page-right' pagenumber='{gp-page}' />" class="download-page" title="<f:translate key='download.rightPage' extensionName='ddb_frontend_viewer' />"><f:translate key="download.rightPage"  extensionName="ddb_frontend_viewer" /></f:link.external>
                </li>
              </f:if>
            </f:then>
            <f:else>
              <f:if condition="<ddb:downloadLinks type='page-left' pagenumber='{gp-page}' /> !=''">
                <li>
                  <f:link.external uri="<ddb:downloadLinks type='page-left' pagenumber='{gp-page}' />" class="download-page" title="<f:translate key='download.singlePage' extensionName='ddb_frontend_viewer' />"><f:translate key="download.singlePage"  extensionName="ddb_frontend_viewer" /></f:link.external>
                </li>
              </f:if>
            </f:else>
          </f:if>
        </ul>
      </div>

      <div id="tab-imageadjust" class="imageadjust-wrapper tab-content-pane">
        <h3><f:translate key='tab.imageadjust' extensionName='ddb_frontend_viewer' /></h3>
        <f:cObject typoscriptObjectPath="lib.tools.toolsImagemanipulation" />
      </div>
    </div>
    <div class="sidebar-toggle"></div>
  </div>
</f:section>
