{namespace t3jquery=T3Ext\T3jquery\ViewHelpers}
{namespace ddb=Slub\DdbFrontendViewer\ViewHelpers}
<t3jquery:AddJQuery />
<f:if condition="<ddb:xpath xpath='(//mets:mets/mets:structMap/mets:div/@LABEL)[1]' />">
	<f:then>
		<ddb:titleTag title="<ddb:xpath xpath='(//mets:mets/mets:structMap/mets:div/@LABEL)[1]' />" />
	</f:then>
	<f:else>
		<ddb:titleTag title="<ddb:xpath xpath='(//mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\"alternative\")]/mods:nonSort | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\"alternative\")]/mods:title | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\"alternative\")]/mods:partNumber | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\"alternative\")]/mods:partName)[1]' />" />
	</f:else>
</f:if>
<div class="main-wrapper">
	<f:render section="Header" partial="Header" arguments="{_all}" />
	<f:render section="Sidebar" partial="Sidebar" arguments="{_all}" />
		<!--TYPO3SEARCH_begin-->
		<f:render section="DocumentView" partial="DocumentView" arguments="{_all}" />
		<!--TYPO3SEARCH_end-->
</div>
<script type="text/javascript">
<!-- workaround for fiz proxy, SRU and pageselect plugin -->
$("form").each(function(index) {
	var action = $(this).attr('action');
	if (action.indexOf(window.location.protocol) == -1) {
		$(this).attr('action', action.replace('http:', 'https:'))
	}
});
</script>
<f:if condition="{piwik_idsite}">
	<f:render section="Piwik" partial="Piwik" arguments="{_all}" />
</f:if>
